h1{
    font-size: 70px;
    color: blue;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo{
    font-size: 50px;
    color: crimson;
    background-color:black
}
#titulo2{
    font-size: 30px;
    color: black;
    background-color:red ;
}
table{
    border-collapse: collapse;
}
td{
    color: white;
    background-color: black;
}