.divImg{
    height: 58px;
    width: 5000px;
    background-color: red;
    position: absolute;
}
.divTitMenu{
    text-align: center;
    top: -5px;
    left: 350px;
    position: fixed;
    color: black;


}   
.divF1{
    right: 0px;
    top: 9px;
    position: absolute;
}
